<!DOCTYPE html>
<html>
  <head>
      <% include inclusions.ejs %>
      <script type="text/javascript">

      </script>
  </head>
  <body id="page-top" onload = "header_change()">
    <% include header.ejs %>
    <% include headerbar.ejs %>
    <% var navs = language.navbar%>
    <div class="sections row">
        <div class="col-lg-8 col-lg-offset-2 text-center" id="pagesections">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="#overview"><%= navs.overview %></a></li>
                <li role="presentation"><a href="#propdetails"><%= navs.propertydetails %></a></li>
                <li role="presentation"><a href="#tourinsights"><%= navs.tourinsights %></a></li>
                <li role="presentation"><a href="#prophistory"><%= navs.prophistory %></a></li>
                <li role="presentation"><a href="#pubrecords"><%= navs.publicrecords %></a></li>
                <li role="presentation"><a href="#schools"><%= navs.nearbyschools %></a></li>
                <li role="presentation"><a href="#neighborhood"><%= navs.neighborhood %></a></li>
                <li role="presentation"><a href="#similarhomes"><%= navs.similarhomes %></a></li>
            </ul>
        </div>
    </div>
    <section class="no-padding" id="overview" style="display: flex;">
        <div class="container-fluid sectioncontainer">
            <div style="width:60%; height: auto; float: left; box-sizing: border-box;">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <% include carousel.ejs %>
                </div>
                <p><%= property.headline %></p>
                <table>
                    <tr>
                        <td class="category"><%= language.hoadues %></td>
                        <td class="information"><%= property.hoadues %></td>
                        <td class="category"><%= language.propertytype %></td>
                        <td class="information"><%= property.propertytype %></td>
                    </tr>
                    <tr>
                        <td class="category"><%= language.community %></td>
                        <td class="information"><%= property.community %></td>
                        <td class="category"><%= language.county %></td>
                        <td class="information"><%= property.county %></td>
                    </tr>
                    <tr>
                        <td class="category"><%= language.mlshash %></td>
                        <td class="information"><%= property.mlshash %></td>
                    </tr>
                </table>
            <hr style="border-top: dotted 1px;" />
                <div style="text-align: left; padding: 5px; width: 50%; float: left;">
                    <h4 style="font-weight: bold; color: gray"><%= language.listingcourtesy %></h4>
                    <h4><%= property.agent %><br /><br /><%= property.bre %></h4>
                </div>
                <div style="text-align: right; padding: 5px; float: right">
                    <h4 style="font-weight: bold; color: gray"><%= language.source %></h4>
                    <h4><%= property.source %></h4>
                </div>
            </div>
            <div style="float: left; text-align: center; width: 35%; height: 100%; margin-left: 3%; box-sizing: border-box;">
                <div style="box-sizing: border-box; height: 50%; width: 100%">
                    <div style="width: 100%; height: auto;">
                        <!--<div style="width: 100%; height: auto;">-->
                            <!--<h4>Go Tour This Home.</h4>-->
                        <!--</div>-->
                        <!--<div style="height: auto; width: 100%; ">-->

                            <!--<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>-->
                            <!--<div class="btn-group btn-group-justified" role="group" aria-label="..." style="height: 100%; width: 70%; display: inline-block;">-->
                                <!--<button type="button" class="scheduler">Left</button>-->
                                <!--<button type="button" class="scheduler">Middle</button>-->
                                <!--<button type="button" class="scheduler">Right</button>-->
                            </div>
                            <!--<div style="height: 100%; width: 68%; display: inline-block;">-->
                                <!--<div style="height: 100%; width: 32%; min-height: 50px; max-height: 100px; display: inline-block; border: 1px solid #000000">-->
                                    <!--<div style="width: 100%; background-color: orangered;">-->
                                        <!--<p style="text-align: center">Mon</p>-->
                                    <!--</div>-->
                                    <!--<div style="width: 100%; height: 25%;  color: orangered">-->
                                        <!--<p style="text-align: center; font-weight: bold;">16</p>-->
                                    <!--</div>-->
                                    <!--<div style="width: 100%; color: orangered">-->
                                        <!--<p style="text-align: center">Nov</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div style="height: 100%; width: 32%; display: inline-block; background-color: red">-->
                                    <!--<div style="width: 100%; background-color: orangered;">-->
                                        <!--<p style="text-align: center">Mon</p>-->
                                    <!--</div>-->
                                    <!--<div style="width: 100%; height: 25%;  color: orangered">-->
                                        <!--<p style="text-align: center; font-weight: bold;">16</p>-->
                                    <!--</div>-->
                                    <!--<div style="width: 100%; color: orangered">-->
                                        <!--<p style="text-align: center">Nov</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div style="height: 100%; width: 32%; display: inline-block; background-color: red">-->
                                    <!--Ka-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div id="google-map-container">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="propdetails" class="no-padding" style="display: flex;">
        <div class="container-fluid sectioncontainer">
            <% var details = language.propertydetails %>
            <h2><%= details.heading %></h2>
            <div style="width: 100%; height: 100%; border: gray solid thin">
                <div class="featureheadingdiv">
                    <p style="padding: 15px;"><%= details.interiorfeatures.heading %></p>
                </div>
                <div class="mainfeaturesdiv">
                    <div class="featuresdiv">
                        <ul><p><%= details.interiorfeatures.bedroom.heading %></p>
                            <li><%= details.interiorfeatures.bedroom.minimum %>  <%= property.propertydetails.interiorfeatures.bedroominformation.minimum %></li>
                            <li><%= details.interiorfeatures.bedroom.maximum %> <%= property.propertydetails.interiorfeatures.bedroominformation.maximum %></li>
                        </ul>
                        <ul><p><%= details.interiorfeatures.bathroom.heading %></p>
                            <li><%= details.interiorfeatures.bathroom.full %> <%= property.propertydetails.interiorfeatures.bathroominformation.full %></li>
                            <li><%= details.interiorfeatures.bathroom.half %> <%= property.propertydetails.interiorfeatures.bathroominformation.half %></li>
                            <li><%= details.interiorfeatures.bathroom.description %> <%= property.propertydetails.interiorfeatures.bathroominformation.description %></li>
                        </ul>
                    </div>
                    <div class="featuresdiv">
                        <ul><p><%= details.interiorfeatures.room.heading %></p>
                            <li><%= details.interiorfeatures.room.diningroomdescription %> <%= property.propertydetails.interiorfeatures.roominformation.diningroomdescription %></li>
                            <li><%= details.interiorfeatures.room.kitchendescription %> <%= property.propertydetails.interiorfeatures.roominformation.kitchendescription %></li>
                        </ul>
                        <ul><p><%= details.interiorfeatures.interiorfeatures.heading %></p>
                            <li><%= details.interiorfeatures.interiorfeatures.laundry %> <%= property.propertydetails.interiorfeatures.interiorfeatures.laundry %></li>
                            <li><%= details.interiorfeatures.interiorfeatures.flooring %> <%= property.propertydetails.interiorfeatures.interiorfeatures.flooring %></li>
                        </ul>
                    </div>
                    <div class="featuresdiv">
                        <ul><p><%= details.interiorfeatures.fireplace.heading %></p>
                            <li><%= details.interiorfeatures.fireplace.hasfireplace %> <%= property.propertydetails.interiorfeatures.fireplaceinformation.hasfireplace %></li>
                            <li><%= details.interiorfeatures.fireplace.fireplacedescription %> <%= property.propertydetails.interiorfeatures.fireplaceinformation.fireplacedescription %></li>
                            <li><%= details.interiorfeatures.fireplace.minimum %> <%= property.propertydetails.interiorfeatures.fireplaceinformation.minimum %></li>
                        </ul>
                        <ul><p><%= details.interiorfeatures.heatingandcooling.heading %></p>
                            <li><%= details.interiorfeatures.heatingandcooling.cooling %> <%= property.propertydetails.interiorfeatures.heatingcoolinginformation.cooling %></li>
                            <li><%= details.interiorfeatures.heatingandcooling.heating %> <%= property.propertydetails.interiorfeatures.heatingcoolinginformation.heating %></li>
                        </ul>
                    </div>
                </div>
                <div class="featureheadingdiv">
                    <p style="padding: 15px"><%= details.parking.heading %></p>
                </div>
                <div class="mainfeaturesdiv">
                    <div class="featuresdiv">
                        <ul><p><%= details.parking.parkinginformation.heading %></p>
                            <li><%= details.parking.parkinginformation.minimum %> <%= property.propertydetails.parkinggaragefeatures.parkinginformation.minimum %></li>
                            <li><%= details.parking.parkinginformation.maximum %> <%= property.propertydetails.parkinggaragefeatures.parkinginformation.maximum %></li>
                            <li><%= details.parking.parkinginformation.description %> <%= property.propertydetails.parkinggaragefeatures.parkinginformation.parkingdescription %></li>
                            <li><%= details.parking.parkinginformation.garagespaces %> <%= property.propertydetails.parkinggaragefeatures.parkinginformation.garagespaces %></li>
                            <li><%= details.parking.parkinginformation.parkingspaces %> <%= property.propertydetails.parkinggaragefeatures.parkinginformation.parkingspaces %></li>
                        </ul>
                    </div>
                    <div class="featuresdiv">
                        <ul><p><%= details.parking.multiunitinformation.heading %></p>
                            <li><%= details.parking.multiunitinformation.stories %> <%= property.propertydetails.parkinggaragefeatures.multiunitinformation.stories %></li>
                            <li><%= details.parking.multiunitinformation.units %> <%= property.propertydetails.parkinggaragefeatures.multiunitinformation.units %></li>
                        </ul>
                        <ul><p><%= details.parking.hoainformation.heading %></p>
                            <li><%= details.parking.hoainformation.hashoa %> <%= property.propertydetails.parkinggaragefeatures.hoainformation.hashoa %></li>
                            <li><%= details.parking.hoainformation.fees %> <%= property.propertydetails.parkinggaragefeatures.hoainformation.feesinclude %><</li>
                            <li><%= details.parking.hoainformation.fee %> <%= property.propertydetails.parkinggaragefeatures.hoainformation.hoafee %><</li>
                            <li><%= details.parking.hoainformation.name %> <%= property.propertydetails.parkinggaragefeatures.hoainformation.hoaname %><</li>
                            <li><%= details.parking.hoainformation.phone %> <%= property.propertydetails.parkinggaragefeatures.hoainformation.hoaphone %><</li>
                        </ul>
                    </div>
                    <div class="featuresdiv">
                        <ul><p><%= details.parking.schoollinformation.heading %></p>
                            <li><%= details.parking.schoollinformation.elementary %> <%= property.propertydetails.parkinggaragefeatures.schoolinformation.elementary %></li>
                            <li><%= details.parking.schoollinformation.highschool %> <%= property.propertydetails.parkinggaragefeatures.schoolinformation.highschool %></li>
                        </ul>
                    </div>
                </div>
                <div class="featureheadingdiv">
                    <p style="padding: 15px"><%= details.exteriorfeatures.heading %></p>
                </div>
                <div class="mainfeaturesdiv">
                    <div class="featuresdiv">
                        <ul><p><%= details.exteriorfeatures.exterior.heading %></p>
                            <li><%= details.exteriorfeatures.exterior.roof %> <%= property.propertydetails.exteriorfeatures.exteriorfeatures.roof %></li>
                        </ul>
                    </div>
                    <div class="featuresdiv">
                        <ul><p><%= details.exteriorfeatures.building.heading %></p>
                            <li><%= details.exteriorfeatures.building.type %> <%= property.propertydetails.exteriorfeatures.buildinginformation.constructiontype %></li>
                            <li><%= property.propertydetails.exteriorfeatures.buildinginformation.foundation %></li>
                        </ul>
                    </div>
                </div>
                <div class="featureheadingdiv">
                    <p style="padding: 15px"><%= details.utilities.heading %></p>
                </div>
                <div class="mainfeaturesdiv">
                    <div class="featuresdiv">
                        <ul><p><%= details.utilities.utilitiesinformation.heading %></p>
                            <li><%= details.utilities.utilitiesinformation.sewer %> <%= property.propertydetails.utilities.utilitiesinformation.sewer %></li>
                            <li><%= details.utilities.utilitiesinformation.utilities %> <%= property.propertydetails.utilities.utilitiesinformation.utilities %></li>
                        </ul>
                    </div>
                    <div class="featuresdiv">
                        <ul><p><%= details.utilities.water.heading %></p>
                            <li><%= details.utilities.water.water %> <%= property.propertydetails.utilities.water.water %></li>
                        </ul>
                    </div>
                </div>
                <div class="featureheadingdiv">
                    <p style="padding: 15px"><%= details.taxes.heading %></p>
                </div>
                <div class="mainfeaturesdiv">
                    <div class="featuresdiv">
                        <ul><p><%= details.taxes.tax.heading %></p>
                            <li><%= details.taxes.tax.citytax %> <%= property.propertydetails.tax.taxinformation.citytransfertax %></li>
                        </ul>
                        <ul><p><%= details.taxes.location.heading %></p>
                            <li><%= details.taxes.location.directions %> <%= property.propertydetails.tax.taxinformation.locationinformation %></li>
                        </ul>
                    </div>
                    <div class="featuresdiv">
                        <ul><p><%= details.taxes.misc.heading %></p>
                            <li><%= details.taxes.misc.incorporated %> <%= property.propertydetails.tax.miscallaneousinformation.incorporated %></li>
                        </ul>
                    </div>
                </div>
                <div class="featureheadingdiv">
                    <p style="padding: 15px"><%= details.propertylot.heading %></p>
                </div>
                <div class="mainfeaturesdiv">
                    <div class="featuresdiv">
                        <ul><p><%= details.propertylot.propfeatures.heading %></p>
                            <li><%= details.propertylot.propfeatures.amenities %> <%= property.propertydetails.lotdetails.propfeatures.amenities %></li>
                            <li><%= details.propertylot.propfeatures.livingsqft %> <%= property.propertydetails.lotdetails.propfeatures.livingsqft %></li>
                        </ul>
                        <ul><p><%= details.propertylot.propertyinfo.heading %></p>
                            <li><%= details.propertylot.propertyinfo.ownership %> <%= property.propertydetails.lotdetails.propertyinformation.ownershiptype %>t</li>
                            <li><%= details.propertylot.propertyinfo.restrictions %> <%= property.propertydetails.lotdetails.propertyinformation.restrictions %></li>
                        </ul>
                    </div>
                    <div class="featuresdiv">
                        <ul><p><%= details.propertylot.lotinfo.heading %></p>
                            <li><%= details.propertylot.lotinfo.minimum %> <%= property.propertydetails.lotdetails.lotinformation.minsize %></li>
                            <li><%= details.propertylot.lotinfo.maximum %> <%= property.propertydetails.lotdetails.lotinformation.maxsize %></li>
                            <li><%= details.propertylot.lotinfo.source %> <%= property.propertydetails.lotdetails.lotinformation.source %></li>
                            <li><%= details.propertylot.lotinfo.zoning %> <%= property.propertydetails.lotdetails.lotinformation.zoning %></li>
                        </ul>
                    </div>
                </div>
                <h6><%= details.disclaimer %></h6>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <section class="no-padding" style="display: flex;" id="tourinsights">
        <div class="container-fluid sectioncontainer">
            <h2><%= language.tourinsights.heading %> <%= property.addressfirstline %></h2>
            <div style="border: thin solid lightgray; padding: 20px;">
                <span class="glyphicon glyphicon-pushpin" aria-hidden="true" style="color: gray"></span>
                <h3><%= property.tourinsights.name %></h3>
                <h5><%= property.tourinsights.description %></h5>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <section class="no-padding" style="display: flex;" id="prophistory">
        <div class="container-fluid sectioncontainer">
            <h2><%= language.prophistory.heading %> <%= property.addressfirstline %></h2>
            <table style="border: solid thin lightgray; width: 100%">
                <thead style="background-color: lightgray">
                    <tr>
                        <td class="date"><%= language.prophistory.date %></td>
                        <td class="Event"><%= language.prophistory.event %></td>
                        <td class="Price"><%= language.prophistory.price %></td>
                        <td class="Appreciation"><%= language.prophistory.appreciation %></td>
                        <td class="source"><%= language.prophistory.source %></td>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < property.propertyhistory.length; i++) { %>
                        <tr>
                            <td class="date"><%= property.propertyhistory[i].date %></td>
                            <td class="Event"><%= property.propertyhistory[i].event %></td>
                            <td class="Price"><%= property.propertyhistory[i].price %></td>
                            <td class="Appreciation"><%= property.propertyhistory[i].appreciation %></td>
                            <td class="source"><%= property.propertyhistory[i].source %></td>
                        <tr>
                    <% } %>
                </tbody>
            </table>
            <h6><%= language.prophistory.disclaimer %></h6>
        </div>
    </section>
    <br />
    <br />
    <br />
    <section class="no-padding" style="display: flex;" id="pubrecords">
        <div class="container-fluid sectioncontainer">
            <h2><%= language.publicrecords.heading %> <%= property.addressfirstline %></h2>
            <br />
            <h5><%= language.publicrecords.disclaimer %></h5>
            <br />
            <h3><%= language.publicrecords.basicinfo %></h3>
            <div style="border: thin solid lightgray; padding: 20px;">
                <table style="width: 100%; border-bottom: dashed thin lightgray">
                    <tbody>
                        <tr>
                            <td class="category"><%= language.publicrecords.beds %></td>
                            <td class="information"><%= property.publicrecords.beds %></td>
                            <td class="category"><%= language.publicrecords.style %></td>
                            <td class="information"><%= property.publicrecords.style %></td>
                        </tr>
                        <tr>
                            <td class="category"><%= language.publicrecords.baths %></td>
                            <td class="information"><%= property.publicrecords.baths %></td>
                            <td class="category"><%= language.publicrecords.finishedsqft %></td>
                            <td class="information"><%= property.publicrecords.finishedsqft %></td>
                        </tr>
                        <tr>
                            <td class="category"><%= language.publicrecords.floors %></td>
                            <td class="information"><%= property.publicrecords.floors %></td>
                            <td class="category"><%= language.publicrecords.unfinishedsqft %></td>
                            <td class="information"><%= property.publicrecords.unfinishedsqft %></td>
                        </tr>
                        <tr>
                            <td class="category"><%= language.publicrecords.yearbuilt %></td>
                            <td class="information"><%= property.publicrecords.yearbuilt %></td>
                            <td class="category"><%= language.publicrecords.totalsqft %></td>
                            <td class="information"><%= property.publicrecords.totalsqft %></td>
                        </tr>
                        <tr>
                            <td class="category"><%= language.publicrecords.yearrenovated %></td>
                            <td class="information"><%= property.publicrecords.yearrenovated %></td>
                            <td class="category"><%= language.publicrecords.lotsize %></td>
                            <td class="information"><%= property.publicrecords.lotsize %></td>
                        </tr>
                    </tbody>
                </table>
                <table>
                    <tbody>
                        <tr>
                            <td class="category" style="width: 16%"><%= language.publicrecords.county %></td>
                            <td class="information" style="width: 17%"><%= property.publicrecords.county %></td>
                            <td class="category" style="width: 16%"><%= language.publicrecords.apn %></td>
                            <td class="information" style="width: 17%"><%= property.publicrecords.apn %></td>
                            <td class="category" style="width: 16%"><%= language.publicrecords.datarefresh %></td>
                            <td class="information" style="width: 17%"  ><%= property.publicrecords.datarefresh %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <section class="no-padding" style="display: flex;" id="schools">
        <div class="container-fluid sectioncontainer">
            <h2><%= language.schools.heading %> <%= property.addressfirstline %></h2>
            <br />
            <h5><%= language.schools.disclaimer %></h5>
            <br />
            <div class="btn-group btn-group-justified" role="group" aria-label="..." style="width: 50%; margin-left: 25%;">
                <a type="button" href="#serving" class="btn btn-default schoolbtn"  ><%= language.schools.serving %></a>
                <a href="#elementary" type="button" class="btn btn-default schoolbtn"><%= language.schools.elementary %></a>
                <a href="#middle" type="button" class="btn btn-default schoolbtn"><%= language.schools.middle %></a>
                <a href="#high" type="button" class="btn btn-default schoolbtn"><%= language.schools.high %></a>
            </div>
            <br />
            <br />
            <br />
            <% var allschools = Object.keys(property.schools); %>
            <% for (i = allschools.length - 1; i > 0; i--) { %>
                <div id="<%= property.schools.divids[i-1] %>" class="schooldiv">
                    <table style="border: solid thin lightgray; width: 100%">
                        <thead style="background-color: lightgray; padding: 10px; width: 100%">
                            <tr>
                                <td valign="middle" class="schserves"><%= language.schools.serveshome %></td>
                                <td class="schname"><%= language.schools.schoolname %></td>
                                <td class="schtype"><%= language.schools.type %></td>
                                <td class="schgrades"><%= language.schools.grades %></td>
                                <td class="schparrat"><%= language.schools.parrat %></td>
                                <td class="schdistance"><%= language.schools.distance %></td>
                            </tr>
                        </thead>
                        <tbody style="padding: 10px; width: 100%">
                            <% var school = allschools[i];%>
                            <% var schoolrec = property.schools[school];%>
                            <% for (j = 0; j < schoolrec.length; j++) { %>
                                <tr>
                                    <% if(schoolrec[j].serveshome) { %>
                                        <td class="schserves">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </td>
                                    <% } else { %>
                                        <td class="schserves">--</td>
                                    <% } %>
                                    <% if(schoolrec[j].rating === -1) { %>
                                        <td class="schname"><%= schoolrec[j].name %></td>
                                    <% } else { %>
                                        <td class="schname">
                                            <div><%= schoolrec[j].rating %></div>
                                            <%= schoolrec[j].name %>
                                        </td>
                                    <% } %>
                                    <td class="schtype"><%= schoolrec[j].type %></td>
                                    <td class="schgrades"><%= schoolrec[j].grades %></td>
                                    <td class="schparrat"><%= schoolrec[j].parentrating %></td>
                                    <td class="schdistance"><%= schoolrec[j].distance %></td>
                                <tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
    </section>
    <section id="neighborhood" class="no-padding" style="display: flex;">
        <div class="container-fluid sectioncontainer">
            <h2><%= language.neighborhood.heading %> <%= property.addressfirstline %></h2>
            <br />
            <br />
            <h3><%= language.neighborhood.area %> <%= property.zip %></h3>
            <br />
            <h3><%= language.neighborhood.transportation %> <%= property.zip %></h3>
            <br />
            <br />
            <div><%= language.neighborhood.creditmade %> <a href="http://www.flaticon.com/authors/scott-de-jonge" title="Scott de Jonge">Scott de Jonge</a> <%= language.neighborhood.creditfrom %> <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> <%= language.neighborhood.creditlicense %> <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
            <br />
            <br />
            <div class="progressradials" style="width: 80%; display: flex; margin: auto">
                <div class="progress-radial setsize progress-<%= property.transportation.walk %>" id="walkscore">
                    <div class="overlay setsize radialoverlay">
                        <img src="/images/man-silhouette1.svg" />
                        <p id="walkscorelabel"><%= property.transportation.walk %>%</p>
                    </div>
                </div>

                <div class="progress-radial setsize progress-<%= property.transportation.transit%>" id="transitscore">
                    <div class="overlay setsize radialoverlay">
                        <img src="/images/cycling.svg"/>
                        <p id="transitscorelabel"><%= property.transportation.transit %>%</p>
                    </div>
                </div>

                <div class="progress-radial setsize progress-<%= property.transportation.bike %>" id="bikescore">
                    <div class="overlay setsize radialoverlay">
                        <img src="/images/train4.svg" />
                        <p id="bikescorelabel"><%= property.transportation.bike %>%</p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div style="width: 50%; margin: auto; text-align: center; color: gray"><%= property.transportation.description %></div>
            <br />
            <div id="sales">
                <h4><%= property.zip %><%= language.neighborhood.realestates %></h4>
                <table style="background-color: #e7e7e7; border: thin solid lightgray;">
                    <tbody>
                        <tr>
                            <td class="category areasales"><%= language.neighborhood.medianlistprice %></td>
                            <td class="information"><%= property.realestatesales.medianlistprice %></td>
                            <td class="category"><%= language.neighborhood.avgoffers %></td>
                            <td class="information"><%= property.realestatesales.avgoffers %></td>
                        </tr>
                        <tr>
                            <td class="category areasales"><%= language.neighborhood.mediansqft %></td>
                            <td class="information"><%= property.realestatesales.mediandolpersqft %></td>
                            <td class="category"><%= language.neighborhood.avgdown %></td>
                            <td class="information"><%= property.realestatesales.avgdown %></td>
                        </tr>
                        <tr>
                            <td class="category areasales"><%= language.neighborhood.mediansalelist %></td>
                            <td class="information"><%= property.realestatesales.mediansalelist %></td>
                            <td class="category"><%= language.neighborhood.soldhomes %></td>
                            <td class="information"><%= property.realestatesales.soldhomes %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
            <br />
            <h4><%= language.neighborhood.whatittakes %> <%= property.zip %></h4>
            <% for (i = 0; i < property.agents.length; i++) { %>
            <% var agent = property.agents[i] %>
                <div class="offerdetails">
                    <table>
                        <tbody>
                            <tr>
                                <td style="width: 70%;">
                                    <table style="width: 50%;" class="offerhomedetails">
                                        <tbody>
                                        <tr>
                                            <td class="offerhome"><span class="glyphicon glyphicon-home headericon homeicon" aria-hidden="true"></span></td>
                                            <td class="offerhome">
                                                <h4><strong><%= agent.price %></strong></h4>
                                                <h5>Price</h5>
                                            </td>
                                            <td class="offerhome">
                                                <h4><strong><%= agent.beds %></strong></h4>
                                                <h5>Beds</h5>
                                            </td>
                                            <td class="offerhome">
                                                <h4><strong><%= agent.baths %></strong></h4>
                                                <h5>Baths</h5>
                                            </td>
                                            <td class="offerhome">
                                                <h4><strong><%= agent.sqft %></strong></h4>
                                                <h5>Sq. Ft.</h5>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="offerhomedetails">
                                        <h4 style="text-align: center"><i><%= agent.quote %></i>
                                        </h4>
                                    </div>
                                    <div class="offerhomedetails">
                                        <img src="<%= agent.picture %>"/>
                                        <h3 style="color: dodgerblue"><%= agent.agent %></h3>
                                        <h3 style="color: maroon">HOMESEARCH Agent</h3>
                                    </div>
                                </td>
                                <td class="hidden-xs hidden-sm">
                                    <% if (agent.winningoffer === false) { %>
                                        <div class="offerhomedetails">
                                            <h5 style="text-transform: uppercase"><%= language.neighborhood.offernotacc %></h5>
                                        </div>
                                    <% } else { %>
                                        <div class="offerhomedetails">
                                            <h5 style="text-transform: uppercase;">
                                                <mark style="background-color: lawngreen"><%= language.neighborhood.offeraccept %></mark>
                                            </h5>
                                        </div>
                                    <% } %>
                                    <table class="offerhomedetails">
                                        <tbody>
                                        <tr>
                                            <td class="offervalue"><%= agent.offertolist %></td>
                                            <td class="offercategory"><%= language.neighborhood.offertolist %></td>
                                        </tr>
                                        <tr>
                                            <td class="offervalue"><%= agent.dom %></td>
                                            <td class="offercategory"><%= language.neighborhood.dom %></td>
                                        </tr>
                                        <tr>
                                            <td class="offervalue"><%= agent.competeoffer %></td>
                                            <td class="offercategory"><%= language.neighborhood.compoffer %></td>
                                        </tr>
                                        <tr>
                                            <td class="offervalue"><%= agent.downpayment %></td>
                                            <td class="offercategory"><%= language.neighborhood.down %></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <br />
            <% } %>
            <br />
            <br />
            <h4><%= language.neighborhood.medianrev %></h4>
            <div id="medianvals">
                <table style="border: solid thin lightgray; width: 50%">
                    <thead style="background-color: lightgray; padding: 10px; width: 100%">
                        <tr>
                            <td class="median location medhead"><%= language.neighborhood.location %></td>
                            <td class="median medhead"><%= language.neighborhood.listprice %></td>
                            <td class="median medhead"><%= language.neighborhood.dolsqft %></td>
                            <td class="median medhead"><%= language.neighborhood.salelist %></td>
                        </tr>
                    </thead>
                    <tbody style="padding: 10px; width: 100%">
                        <% for (i = 0; i < property.medianrev.length; i++) { %>
                        <% var record = property.medianrev[i]; %>
                            <tr>
                                <td class="median location"><%= record.location %></td>
                                <td class="median"><%= record.listprice %></td>
                                <td class="median"><%= record.dolpersqft %></td>
                                <td class="median"><%= record.salelist %></td>
                            <tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <section class="no-padding" style="display: flex;" id="similarhomes">
        <div class="container-fluid sectioncontainer">
            <h2><%= language.similarhomes %> <%= property.addressfirstline %></h2>
            <br />
            <br />
            <div class="row no-gutter">
                <% for (i = 0; i < property.similarhomes.length; i++) { %>
                <% var simhome = property.similarhomes[i]; %>
                    <div class="col-lg-4 col-sm-6 simhomes">
                        <a href="#" class="portfolio-box">
                            <img src="<%= simhome.img %>" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <table style="margin-left: 5%">
                                        <tr>
                                            <td class="simhomcategory simhomefirst"><%= simhome.price %></td>
                                            <td class="simhomcategory"><%= simhome.beds %></td>
                                            <td class="simhomcategory"><%= simhome.baths %></td>
                                            <td class="simhomcategory"><%= simhome.sqft %></td>
                                        </tr>
                                        <td class="simhomspec simhomefirst"><%= simhome.addrline1 %></td>
                                        <td class="simhomspec">Beds</td>
                                        <td class="simhomspec">Baths</td>
                                        <td class="simhomspec">Sq. Ft</td>
                                        <tr>
                                            <td class="simhomaddr"><%= simhome.addrline2 %></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
    <br />
    <br />
    <br />
    <section class="no-padding" style="display: flex;" id="thanks">
        <div class="container-fluid" style="margin-left: auto; margin-right: auto; width: 80%; height: 80%">
            <div style="text-align: center">
                <h4><i><%= language.thanks %></i></h4>
            </div>
        </div>
    </section>
    <% include jsinclusions.ejs %>
    <script type="text/javascript">

        $( document ).ready(function() {
            $(".setsize").each(function() {
                $(this).height($(this).width());
            });
        });
        $(window).on('resize', function(){
            $(".setsize").each(function() {
                $(this).height($(this).width());
            });
        });


        function initMap() {
            var map = new google.maps.Map(document.getElementById('google-map-container'), {
                center: new google.maps.LatLng(37.5, -122),
                scrollwheel: false,
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var latitude = 37.5;
            var longitude = -122;
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(latitude, longitude)
            });
            var ctaLayer = new google.maps.KmlLayer({
                url: 'http://localhost:3000/images/maps/cb_2014_us_zcta510_500k.kml',
                map: map
            });
            marker.setMap(map);

            var map = new google.maps.Map(document.getElementById('mapcon'), {zoom: 8});
            var geocoder = new google.maps.Geocoder;
            geocoder.geocode({'address': '95050'}, function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    window.alert('Geocode was not successful for the following reason: ' +
                    status);
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);
    </script>
  </body>
</html>
