<section id="summarydiv">
    <div class="container headline" style="">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center headline">
                <div style="float: left; margin-right: 5%">
                    <span class="glyphicon glyphicon-home headericon" style="color: white; padding: 20%; background-color: green; border-radius: 5px; display: inline-block" aria-hidden="true"></span>
                </div>
                <div style="float: left; margin-right: 10%">
                    <h3 style="font-weight: bold"> <%= property.addressfirstline %> </h3>
                    <h4 style="color: gray"> <%= property.addresssecondline %> </h4>
                    <h5 style="color: gray"><%= property.status %></h5>
                </div>
                <div style="float: left; margin-right: 5%">
                    <div class="info">
                        <h3 style="font-weight: bold"> <%= property.listprice %> </h3>
                        <h5 style="color: gray">Listed at Price</h5>
                    </div>
                    <div class="info">
                        <h3 style="font-weight: bold"> <%= property.beds %> </h3>
                        <h5 style="color: gray">Beds</h5>
                    </div>
                    <div class="info">
                        <h3 style="font-weight: bold"> <%= property.baths %> </h3>
                        <h5 style="color: gray">Baths</h5>
                    </div>
                    <div class="info">
                        <h3 style="font-weight: bold"> <%= property.sqft %> </h3>
                        <h5 style="color: gray">$496/sq.ft</h5>
                    </div>
                    <br />
                    <div style="clear: left">
                        <h5>Built: <%= property.built %> Lot Size <%= property.lotsize %> On HomeSearch <%= property.onhs %></h5>
                    </div>
                </div>
                <div style="float: left;">
                    <div style="float: left;">
                        <span class="glyphicon glyphicon-heart headericon actionicon" style="background-color: white; border: thin solid lightgray" aria-hidden="true"></span>
                    </div>
                    <div style="float: left;">
                        <span class="glyphicon glyphicon-remove headericon actionicon" style="background-color: white; border: thin solid lightgray" aria-hidden="true"></span>
                    </div>
                    <div style="float: left;">
                        <span class="glyphicon glyphicon-envelope headericon actionicon" style="background-color: white; border: thin solid lightgray" aria-hidden="true"></span>
                    </div>
                </div>
                <div style="clear: both">
                </div>
            </div>
        </div>
    </div>
</section>