<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home Search Made Easy.!</title>
    <% include inclusions.ejs %>
    <link rel="stylesheet" href="/stylesheets/searchstyle.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Range Sliders-->
  </head>
  <body  id="page-top">
    <% include header.ejs %>
    <section class="no-padding" style="display: flex; height: 100%; background-color: floralwhite; border: double lightgray;" id="tourinsights">
        <div id="searchdiv">
            <div>
                <div style="display: flex; margin-bottom: 2%">
                    <div id="dataheader">
                        <h2>San Jose Real Estate</h2>
                        <h4><strong>Showing 12 homes</strong></h4>
                    </div>
                    <div style="float: right; margin-right: 5%; margin-top: 2%">
                        <button class="tabbtn">
                            <a type="button" href="#tablediv">Table</a>
                        </button>
                        <button class="tabbtn">
                            <a type="button" href="#photos">Photos</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="dispdiv" id="photos" style="width: 100%; box-sizing: border-box; height: 80%;">
                <div id="photosimg">
                <% for (i = housejson.length-1; i >=0; i--) { %>
                <% var simhome = housejson[i]; %>
                    <div class="photosinfodiv" id="photosdiv<%= i %>" style="height: 100%; width: 100%">
                        <div style="width: 50%; height: 100%; box-sizing: border-box; float: left;">
                            <div class="module lr">
                                <div>
                                    <table style="float: left">
                                        <tbody>
                                        <tr>
                                            <td class="simhomcategory simhomefirst">
                                                <span class="glyphicon glyphicon-home housesaleicon" aria-hidden="true" style="float: left"></span>
                                                <%= simhome.price %></td>
                                            <td class="simhomcategory"><%= simhome.beds %></td>
                                            <td class="simhomcategory"><%= simhome.baths %></td>
                                            <td class="simhomcategory"><%= simhome.sqft %></td>
                                        </tr>
                                        <tr>
                                            <td class="simhomspec simhomefirst"><%= simhome.str_addr %></td>
                                            <td class="simhomspec">Beds</td>
                                            <td class="simhomspec">Baths</td>
                                            <td class="simhomspec">Sq. Ft</td>
                                        </tr>
                                        <tr>
                                            <td class="simhomaddr"><%= simhome.addr %></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="box-sizing: border-box;">
                            <div style="width: 100%; height: 10%">
                                <img src="<%= simhome.agentpic %>" style="width: 10%; height: 100%; float: left">
                                <div style="float: left; margin-left: 5%">
                                    <p style="color: blue"><%= simhome.agent %></p>
                                    <p style="color: maroon">HomeSearch Agent</p>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="category">HOA</td>
                                        <td class="data"><%= simhome.hoa %></td>
                                        <td class="category">Status</td>
                                        <td class="data"><%= simhome.status %></td>
                                    </tr>
                                    <tr>
                                        <td class="category">$/Sq. Ft.</td>
                                        <td class="data"><%= simhome.dolsqft %></td>
                                        <td class="category">On Redfin</td>
                                        <td class="data"><%= simhome.onhs %></td>
                                    </tr>
                                    <tr>
                                        <td class="category">Year Built</td>
                                        <td class="data"><%= simhome.yearbuilt %></td>
                                    </tr>
                                    <tr>
                                        <td class="category">Lot Size</td>
                                        <td class="data"><%= simhome.lot %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <br />
                <% } %>
                </div>
            </div>
            <div class="dispdiv" id="tablediv" style="width: 100%; box-sizing: border-box; height: 80%;">
                <div id="staticimg">
                <% for (i = housejson.length-1; i >=0; i--) { %>
                <% var simhome = housejson[i]; %>
                    <div class="houseinfodiv" id="houseinfodiv<%= i %>" style="height: 100%; width: 100%">
                        <div style="width: 50%; height: 100%; box-sizing: border-box; float: left;">
                            <div class="module lr">
                                <div>
                                    <table style="float: left">
                                        <tbody>
                                            <tr>
                                                <td class="simhomcategory simhomefirst">
                                                    <span class="glyphicon glyphicon-home housesaleicon" aria-hidden="true" style="float: left"></span>
                                                    <%= simhome.price %></td>
                                                <td class="simhomcategory"><%= simhome.beds %></td>
                                                <td class="simhomcategory"><%= simhome.baths %></td>
                                                <td class="simhomcategory"><%= simhome.sqft %></td>
                                            </tr>
                                            <tr>
                                                <td class="simhomspec simhomefirst"><%= simhome.str_addr %></td>
                                                <td class="simhomspec">Beds</td>
                                                <td class="simhomspec">Baths</td>
                                                <td class="simhomspec">Sq. Ft</td>
                                            </tr>
                                            <tr>
                                                <td class="simhomaddr"><%= simhome.addr %></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div style="box-sizing: border-box;">
                            <div style="width: 100%; height: 10%">
                                <img src="<%= simhome.agentpic %>" style="width: 10%; height: 100%; float: left">
                                <div style="float: left; margin-left: 5%">
                                    <p style="color: blue"><%= simhome.agent %></p>
                                    <p style="color: maroon">HomeSearch Agent</p>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="category">HOA</td>
                                            <td class="data"><%= simhome.hoa %></td>
                                            <td class="category">Status</td>
                                            <td class="data"><%= simhome.status %></td>
                                        </tr>
                                        <tr>
                                            <td class="category">$/Sq. Ft.</td>
                                            <td class="data"><%= simhome.dolsqft %></td>
                                            <td class="category">On Redfin</td>
                                            <td class="data"><%= simhome.onhs %></td>
                                        </tr>
                                        <tr>
                                            <td class="category">Year Built</td>
                                            <td class="data"><%= simhome.yearbuilt %></td>
                                        </tr>
                                        <tr>
                                            <td class="category">Lot Size</td>
                                            <td class="data"><%= simhome.lot %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <% } %>
                </div>
                <div id="scrollingrecs" style="height: 60%; width: 100%">
                    <table style="width: 100%; height: 100%">
                        <thead style="width: 100%">
                            <tr>
                                <td class="decbutton"></td>
                                <td class="addr">Address</td>
                                <td class="location">Location</td>
                                <td class="price">Price</td>
                                <td class="bbsdd">Beds</td>
                                <td class="bbsdd">Baths</td>
                                <td class="bbsdd hidden-xs hidden-sm">Sq.Ft.</td>
                                <td class="bbsdd hidden-xs hidden-sm">$/Sq.Ft.</td>
                                <td class="bbsdd hidden-xs hidden-sm">Days</td>
                            </tr>
                        </thead>
                        <tbody id="houselist" style="height: 100%; width: 100%">
                            <% for (i = 0; i < housejson.length; i++) { %>
                                <% var house = housejson[i]; %>
                                        <tr id="houserow<%= i%>">
                                            <td class="decbutton">
                                                <a type="button" href="#houseinfodiv<%= i %>">L</a>
                                            </td>
                                            <td class="addr"><%= house.str_addr %></td>
                                            <td class="location" style="text-transform: uppercase"><%= house.city %></td>
                                            <td class="price"><%= house.price %></td>
                                            <td class="bbsdd"><%= house.beds %></td>
                                            <td class="bbsdd"><%= house.baths %></td>
                                            <td class="bbsdd hidden-xs hidden-sm"><%= house.sqft %></td>
                                            <td class="bbsdd hidden-xs hidden-sm"><%= house.dolsqft %></td>
                                            <td class="bbsdd hidden-xs hidden-sm"><%= house.onhs %></td>
                                        </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <div id="mapdiv" class="hidden-xs hidden-sm"></div>
    </section>
    <% include jsinclusions.ejs %>
    <script style="text/javascript">
        $(document).ready(function() {
            function initMap() {
                var map = new google.maps.Map(document.getElementById('mapdiv'), {
                    center: new google.maps.LatLng(37.5, -122),
                    scrollwheel: false,
                    zoom: 8,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                });
                for (i = 0; i < 8; i++) {
                    $("#houserow0").mouseover(function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: "7601 Halladale Court",
                            position: {lat: 37.396870, lng: -121.802277}
                        });
                        infowindow.open(map);
                        setInterval(function(){infowindow.close()},1000);
                    })
                    $("#houserow1").mouseover(function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: "16200 Alum Rock",
                            position: {lat: 37.371091, lng: -121.800752}
                        });
                        infowindow.open(map);
                        setInterval(function(){infowindow.close()},2000);
                    })
                    $("#houserow2").mouseover(function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: "1414 Dentwood Dr",
                            position: {lat: 37.255520, lng: -121.889995}
                        });
                        infowindow.open(map);
                        setInterval(function(){infowindow.close()},2000);
                    })
                    $("#houserow3").mouseover(function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: "903 Sindbad Ave",
                            position: {lat: 37.350421, lng: -121.852585}
                        });
                        infowindow.open(map);
                        setInterval(function(){infowindow.close()},2000);
                    })
                    $("#houserow5").mouseover(function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: "3872 Suncrest Ave",
                            position: {lat: 37.371091, lng: -121.800752}
                        });
                        infowindow.open(map);
                        setInterval(function(){infowindow.close()},2000);
                    })
                    $("#houserow6").mouseover(function () {
                        var infowindow = new google.maps.InfoWindow({
                            content: "603 Savstrom Way",
                            position: {lat: 37.283111, lng: -121.826245}
                        });
                        infowindow.open(map);
                        setInterval(function(){infowindow.close()},2000);
                    })
                }
            }
            google.maps.event.addDomListener(window, 'load', initMap);
        });
    </script>
  </body>
</html>
